*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
html,
body{
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
/*HEADER SECTION*/
header{
    width: 100vw;
    height: 70px;
    background-color: #fff;
    border-bottom: solid black 0.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    z-index: 1000;
}
header .search {
    height: 100%;
    width: 70px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .search .searchinpa{
    background-color: transparent;
    border: none;
}
header .search .searchinpa img{
    height: 15px;
    width: 15px;
}
header .logo{
    height: 70px;
    width: none;
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header .logo img{
   height: 30px;
}
header .logo h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 10px;
}
header .user{
    height: 100%;
    width: 70px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .user .ids img{
    height: 15px;
    width: 15px;
}
/*HEADER IS DONE*/

/*NAVBAR SECTION*/
nav{
    width: 100vw;
    height: 40px;
    background-color: #fff;
    position: sticky;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: solid black 0.5px;
    overflow: hidden;
    z-index: 1001;
}
nav ul{
    height: 100%;
    max-width: 700px;
    min-width: 380px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav ul a{
    background-color: transparent;
    text-decoration: none;
}
nav ul a li{
    list-style: none;
    margin: 5px;
}
nav ul a li h1{
    color: #000;
    font-size: 10px;
    font-weight: 100;
}
/*NAVBAR SECTION IS DONE*/

/*HOME PAGE SECTION*/
#homepage{
    width: 100vw;
    height: 80vh;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#homepage video{
    position: absolute;
}
#homepage .slog{
    position: absolute;
    bottom: 50px;
    background-color: transparent;
    height: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#homepage .slog h1{
    font-size: 10px;
    font-weight: 100;
    color: #fff;
}
#homepage .slog h2{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
/*HOME PAGE SECTION IS DONE*/

/*PRODUCT SECTION*/
#products{
    position: static;
    top: 0px;
    width: 100vw;
    height: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: transparent;
}
#products .namesection{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}
#products .namesection h1{
    font-weight: 50;
    font-size: 30px;
}
#products a{
    text-decoration: none;
    color: #000;
    overflow: hidden;
    position: relative;
}
#products a #item{
    background-color: transparent;
    background-image: url(pexels-hngstrm-1939485.jpg);
    background-size: cover;
    height: 380px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s;
    margin: 2px;
}
#products a #item .shine{
    position: absolute;
    height: 500px;
    width: 0px;
    display: flex;
    align-items: center;
    background-color: transparent;
    box-shadow: #fff 5px 5px 15px 5px;
    transition: 0.5s;
    z-index: 1000;
    transform: rotate(40deg) translateY(-30%) translateX(-200px);
}

#products #item .imga{
    width: 100%;
    height: 90%;
    overflow: hidden;
    /*background: linear-gradient(skyblue, white);
    background-color: skyblue;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
#products #item .imga img{
    width: 85%;
    height: 85%;
    background-color: transparent;
    transition: 0.5s;
}
#products #item h1{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 12px;
    background-color: transparent;
    position: absolute;
    bottom: 0px;
}

/*PRODUCT HOWER EFFECT*/

#products #item:hover{
    img{
        transform: scale(1.1);
    }
    .shine{
        transform: rotate(40deg) translateY(-30%) translateX(400px);
    }
}
#catagoitem{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100vw;
    height: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#catagoitem .backgpho{
    width: 100vw;
    height: none;
    overflow: hidden;
    /*background-image: url(GettyImages-1485691254.webp);
    background-size: cover;*/
}
#catagoitem .itemjusti{
    width: 100%;
    height: 70px;
    margin: 20px 0px 20px 0px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
#catagoitem .itemjusti h1{
    font-size: 10px;
    font-weight: 100;
}
#catagoitem .itemjusti h2{
    font-size: 30px;
    font-weight: 100;
}
/*THE BUYING TIEM*/
#catagoitem .mensproduct{
    background-color: transparent;
    width: 100%;
    height: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}
#catagoitem .mensproduct a #iteman{
    background-color: transparent;
    height: 360px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s;
    margin: 2px;
    position: relative;
}
#catagoitem .mensproduct a #iteman .imga{
    width: 100%;
    height: 85%;
    overflow: hidden;
    background: linear-gradient(skyblue, white);
    background-image: url(studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product-plain-studio-background_1258-54491.avif);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
}
#catagoitem .mensproduct a #iteman .imga img{
    width: auto;
    height: 85%;
    background-color: transparent;
}
#catagoitem .mensproduct a #iteman .detaila{
    width: 100%;
    height: 15%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    gap: 5px;
}
#catagoitem .mensproduct a #iteman .detaila #productname{
    width: 100%;
}
#catagoitem .mensproduct a #iteman .detaila #productname h1{
    background-color: transparent;
    width: 100%;
    font-size: 10px;
    font-weight: 100;
}
#catagoitem .mensproduct a #iteman .detaila #price{
    width: 100%;
}
#catagoitem .mensproduct a #iteman .detaila #price h2{
    background-color: transparent;
    width: 100%;
    font-size: 12px;
    font-weight: 100;
}
#catagoitem .mensproduct a #iteman:hover .imga img{
    animation: run 0.5s;
}
@keyframes run {
    0%{
       scale: 1; 
    }
    50%{
        scale: 1.05;
    }
    100%{
       scale: 1; 
    }
}
/*the buying item is done*/
/*THE EXPLORING BUTTON*/
#catagoitem .expobutton{
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0px 0px 0px;
}
#catagoitem .expobutton a{
    text-decoration: none;
}
#catagoitem .expobutton a .khoj{
    height: 45px;
    width: 180px;
    
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    z-index: 990;
}
#catagoitem .expobutton a .khoj::before{
    content: "";
    border-radius: 50px;
    height: 80%;
    width: 80%;
    background-color: rgb(207, 207, 207);
    position: absolute;
    z-index: 980;
    transition: 0.3s ease;
}
#catagoitem .expobutton a .khoj::after{
    content: "";
    border-radius: 50px;
    height: 90%;
    width: 90%;
    background-color: transparent;
    border: 1px solid black;
    position: absolute;
    z-index: 980;
    opacity: 0;
    transition: 0.3s ease;
}
#catagoitem .expobutton a:hover .khoj::after{
   opacity: 1;
}
#catagoitem .expobutton a:hover .khoj::before{
    opacity: 0;
 }
#catagoitem .expobutton a .khoj h1{
    font-size: 12px;
    font-weight: 300;
    z-index: 990;
}
/*PRODUCT SECTION IS DONE*/

/*FOOTER SECTION*/
footer{
    width: 100vw;
    height: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
footer #buttons{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: space-evenly;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 35px;
}
footer #buttons #thebutton{
    background-color: transparent;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}
footer #buttons #thebutton h1{
    font-size: 8px;
    font-weight: 100;
}
footer #buttons #thebutton h2{
    font-size: 10px;
    font-weight: 100;
}
footer #buttons #thebutton a{
    text-decoration: none;
}
footer #buttons #thebutton a h2{
    font-weight: 100;
    font-size: 10px;
    color: #fff;
    mix-blend-mode: difference;
}
footer .socialhandls{
    height: 50px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
footer .socialhandls .links{
    height: 30px;
    width: 30px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
footer .socialhandls .links img{
    height: 80%;
    width: 80%;
    transition: 0.3s;
}
footer .socialhandls .links:hover img{
    scale: 1.2;
}
footer .brandname{
    height: 50px;
    width: 100%;
    background-color: #000;
   /* position: absolute;
    bottom: 0px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 5px 0px;
    padding: 50px 0px 50px 0px;
}
footer .brandname h1{
    font-size: 35px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    mix-blend-mode: difference;
}
/*FOOTER SECTION IS DONE*/

/*THE RESPONSIVE CSS*/
/**
 * responsive for large than 680px screen
 */

 @media (min-width: 10px) {
    #products a #item{
        background-color: transparent;
        background-image: url(pexels-hngstrm-1939485.jpg);
        background-size: cover;
        height: 170px;
        width: 140px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
        transition: 0.5s;
        margin: 2px;
    }
    #products #item .imga{
        width: 100%;
        height: 80%;
        overflow: hidden;
        /*background: linear-gradient(skyblue, white);
        background-color: skyblue;*/
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    #products #item h1{
        height: 20%;
        background-color: transparent;
    }
 }
 /**
 * responsive for large than 790px screen
 */

 @media (min-width: 790px) {
    #products a #item{
        background-color: transparent;
        background-image: url(pexels-hngstrm-1939485.jpg);
        background-size: cover;
        height: 270px;
        width: 240px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
        transition: 0.5s;
        margin: 2px;
    }
 }
/**
 * responsive for large than 992px screen
 */

 @media (min-width: 992px) {
    #products a #item{
        background-color: transparent;
        background-image: url(pexels-hngstrm-1939485.jpg);
        background-size: cover;
        height: 280px;
        width: 220px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
        transition: 0.5s;
        margin: 2px;
    }
 }
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
    #products a #item{
        background-color: transparent;
        background-image: url(pexels-hngstrm-1939485.jpg);
        background-size: cover;
        height: 340px;
        width: 280px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
        transition: 0.5s;
        margin: 2px;
    }
    
  
  }
  
  
  
  
  
  /**
   * responsive for large than 1400px screen
   */
  
  @media (min-width: 1400px) {
  
  }